body {
	background-color: rgba(10,10,10.100)
}


@media only screen and (max-device-width: 950px) {
	img {
		display: block;
		margin-left: 0px;
		margin-left: auto;
		margin-right: auto;
		width: 60vw;
		height: 45vw;
		padding-bottom: 50px;
	}
}
